/* index.css */
:root {
    --primary: #8e44ad;
    --primary-light: #a678c9;
    --primary-dark: #934ab3;
    --bg: #f5f5f5;
    --text: #222;
    --navbar-bg: #eaeaea;
    --surface: #ffffff;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --input-bg: #f4f4f4;
    --danger: #ff6b6b;

}

[data-theme='dark'] {
    --primary: #bb86fc;
    --primary-light: #d2a6ff;
    --primary-dark: #6b29a8;
    --bg: #1a1a2e;
    --text: #e0e0e0;
    --navbar-bg: #111122dd;
    --input-bg: #111111;
    --surface: #18132f;
    --box-shadow: rgba(0, 0, 0, 0.3);
}

button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-light);
}



body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Inter', sans-serif;
}

.mainLayout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 2rem;
    min-height: 60vh;
    /* min-height: calc(100%-96px); */
}

.loader-container {
    height: calc(100vh - 10rem);
    display: flex;
    justify-content: center;
    align-items: center;
}