.pokemon-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    position: relative;

    .card {
        padding: 0 2rem 1rem;
        transform: none;

        img {
            width: 300px;
        }
    }

    button {
        background-color: transparent;
        border: 1px solid var(--primary);
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.pokemons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 5rem;
    gap: 2rem;
    position: relative;
}