.pokemon-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    position: relative;

    .card {
        padding: 0 2rem 1rem;

        img {
            width: 300px;
        }
    }

    button {
        background-color: transparent;
        border: 1px solid var(--primary);
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 3rem;
    margin: 2rem auto;
    padding: 0;
    width: 70vw;

    .card {
        width: 180px;
        flex-shrink: 0;
        margin: auto;
    }
}