.user-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    position: relative;

    .card {
        padding: 5rem;
        transform: none;
    }
}

.users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
    gap: 2rem;
    position: relative;

    .card {
        width: 100%;
    }
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    margin: 2rem 0;

    .card {
        padding: 1rem 5rem;

        &:hover {
            transform: none;
        }
    }
}


@media (max-width:600px) {
    .users {
        margin: 0 20px;
    }

    .user-detail-container {
        .card {
            padding: 2rem;
        }
    }

    .hide-mobile {
        display: none;
    }
}